/* Gerais */

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */

header, .navbar {
  background-color: #353D41;
  /* comando que fez o header pegar a altura dos componentes que estavam dentro */
  position: relative;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
}

.navbar-brand {
  padding: 0;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

/* sobre */

.main-title{
  color: black;
  font-size: 3rem;
  margin: 0 0 0 0;
}
.line{
  border-top: 2px solid #333;
  width: 10%;
  margin: 0 auto;
}
.about-title{
  color: black;
  font-size: 2rem;
 text-align: left;
}

.about-list li {
  font-size: 2rem;
}
.sobre p{
 font-size: 1rem;
}
.about-list i {
  color: aquamarine;

}

/* slider */
.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh;
}
#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption {
 margin-bottom: 1rem;
}

#mainSlider .carousel-caption h2 {
  font-size: 2rem;
}

#mainSlider .carousel-caption p {
  font-size: 1.5rem !important;
  color: black;
}

.main-btn {
  background-color: #65DAF9;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #3EC1D5;
}

.carousel-indicators .active {
  background-color: #65DAF9;
}

/* servicos */

.service-box{
  text-align: center;
}
.service-box h2{
  font-size: 1.5rem;
}
.service-box p {
  font-size: 1rem;
}
.service-box i {
  font-size: 3rem;
}

/* Dados */

.circle-box div {
  padding: 0 40px;
}

.progressbar-text {
  font-weight: bold;
  font-size: 32px;
}

#data-area p {
  color: #FFF;
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}
.parallax-window {
  min-height: 400px;
  background: transparent;
}

/* Time */

.card-body {
  text-align: center;
}

/* Contratação */

#apply-area {
  height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  padding: 70px 50px;
  text-align: center;
}

#company-img {
  background-image: url('../img/empresa.jpg');
  background-size: cover;
  height: 100%;
}

#pattern-img h4, #pattern-img p {
  color: #FFF;
}

#pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img p {
  margin-bottom: 20px;
}

#apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #FFF;
}

#apply-btn:hover {
  border-color: #65DAF9;
  background-color: #65DAF9;
}

/* Portfólio */

.project-box {
  margin-bottom: 30px;
}

#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}

#portfolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover {
  color: #FFF;
  border: 1px solid #65DAF9;
  background-color: #65DAF9;
}